%ul.nav.nav-sidebar
  %h4 User
  - User.all.each do |user|
    %li
      = link_to user.email, polymorphic_path(current_controller, 'post_search[user_id]' => user.id)
  %h4 Media Type
  - Post::MediaType.each do |type|
    %li
      = link_to type, polymorphic_path(current_controller, 'post_search[media_type]' => type)
  %h4 Tags
  - model_name.tag_counts.each do |tag|
    %li
      = link_to tag.name, polymorphic_path(current_controller, 'post_search[tag]' => tag.name)
