%h1 Category Search Page
.row
  .col-md-6
    = render 'search_links_head'
.row
  %ol.breadcrumb
    Categories
    - Category.pluck(:name).each do |c|
      %li
        = link_to c, by_category_posts_path(category: c)

= render partial: 'post', collection: @posts
