%h1 Media Type Search Page
.row
  .col-md-6
    = render 'search_links_head'
.row
  %ol.breadcrumb
    Media Types
    - Post::MediaType.each do |mt|
      %li
        = link_to mt, polymorphic_path([:by_media_type, controller.controller_name], media_type: mt)

#posts_list
  = render partial: 'posts_list', :posts => @posts
= will_paginate @posts
