= render 'post_modal'
.row
  .col-md-6
  .col-md-6
    = link_to 'New Post', new_post_path, remote: true, method: :get, class: "btn btn-primary align-right", data: { toggle: "modal", target: "#postModal", whatever: "@mdo" }
= render 'posts'
