.align-left {
  float: left;
}
.align-right {
  float: right;
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.container {
  /*margin-bottom: 50px;*/
}

.post-panel-group {
  margin: 10px 10px 10px 10px;
  width: 340px;
}
.panel {
  .panel-title {
    .panel-head-line {
      margin: 5px;
      font-size: 12px;
    }
  }
}

#header {
  .search-head-links {
    font-size: 18px;
    margin: 10px;
    margin-top: 20px;
  }

  .navbar-right {
    font-size: 18px;
  }
}

.user-profile {
  margin-top: 20px;
  font-size: 18px;
}

.table-form {
  font-size: 18px;
}

.sidebar {
  background-color: #f5f5f5;
}

.normal-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav_search {
  margin-left: 10%;
  input {
    width: 300px;
  }
}
