%h1 Tag Search Page
%div{id: "tag_cloud"}
  - tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|
    = link_to tag.name, posts_searches_by_tag_path(tag: tag.name), class: css_class

= render 'shared/posts'
