%nav.navbar.navbar-default.navbar-fixed-bottom{:role => "navigation", :style => "margin-bottom: 0px;"}
  .container
    .container-fluid
      .navbar-header
        %span
          %h4 Copyright Epoch Times 2015
